.card
  border-radius: 4px 
  border-top-style: solid
  border-top-color: lighten($primary-body,  10%)
  border-top-width: 10px
  // border: 1px solid black
  margin-bottom: 15px
  padding: 8px 5px
  background-color: $primary-card-background

.card-item-info
  display: flex
  justify-content: space-around